[git]
autoCommit = true
autoPush = true
commitMessageTemplate = "{{ `{{ promptString \"Commit message\" }}` }}"

[edit]
command = "code"
args = ["--wait"]

[diff]
command = "code"
args = ["--wait", "--diff", "{{ "{{" }}.Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]

[merge]
command = "bash"
args = [
    "-c",
    "cp {{ "{{" }} .Target {{ "}}" }} {{ "{{" }} .Target {{ "}}" }}.base && code --wait --merge {{ "{{" }} .Destination {{ "}}" }} {{ "{{" }} .Target {{ "}}" }} {{ "{{" }} .Target {{ "}}" }}.base {{ "{{" }} .Source {{ "}}" }}",
]