#!/bin/bash

set -eufo pipefail

fc-cache

gsettings set org.gnome.desktop.peripherals.touchpad natural-scroll false

# Set font used by p10k in gnome-terminal
profile=$(gsettings get org.gnome.Terminal.ProfilesList default)
gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles/${profile}/ font "MesloLGS NF"

# Alt Tab window switching
gsettings set org.gnome.desktop.wm.keybindings switch-windows "['<Alt>Tab']"
gsettings set org.gnome.desktop.wm.keybindings switch-windows-backward "['<Shift><Alt>Tab']"

gsettings set org.gnome.shell favorite-apps "[ \
{{ if lookPath "firefox" -}}
	'firefox.desktop', \
{{ end -}}
'org.gnome.Nautilus.desktop', \
{{ if lookPath "code" -}}
	'code_code.desktop', \
{{ end -}}
'org.gnome.Terminal.desktop' \
]"
